@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


/* body{
    background-color: bisque;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    font-size: medium;

} */